.*
!.devcontainer/
!.gitignore
!.Rproj
[0-9]*
data/LC_engineered*
data/weather_history.csv

# Development environment
*.db
archive/
mlruns/
mlartifacts/

# Language specific
src/clojure/
docs/
Rplots.pdf
*.pyc
.RData
.Rhistory
.cpcache/
.nrepl-port