# Yes, but not
.*
!.devcontainer/
!.gitignore
data/
!data/raw/

# Development environment
*.db
archive/
mlruns/
mlartifacts/
results/

# Language specific
src/clojure/
docs/
Rplots.pdf
*.pyc
.RData
.Rhistory
.cpcache/
.nrepl-port

*long*