{
 :remote-repo {:git-url "https://github.com/adabwana/f24-m7550-final-project" :branch "master"}
 :base-target-path "docs"
 ;:base-source-path "src"
 :subdirs-to-sync  ["notebooks" "data" "images"]
 :format           [:html]
 :show             true
 :run-quarto       true
 :quarto           {:format
                    {:html     {:toc       true
                                :toc-depth 4
                                :theme     :cosmo
                                :number-sections false} 
                     :revealjs {:theme                 :cosmo
                                :navigation-mode       :vertical
                                :transition            :slide
                                :background-transition :fade
                                :incremental           true}}
                    :code-block-background true
                    :include-in-header     {:text "<link rel = \"icon\" href = \"data:,\" />"}
                    :toc-title-numbers     false 
                    :number-depth          0}    
 :kindly/options   {:datatables {:paging          false
                                 :scrollY         400
                                 :sPaginationType "full_numbers"
                                 :order           []}}}