{:paths ["src" "data"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        scicloj/tablecloth {:mvn/version "7.029.2"}
        techascent/tech.ml.dataset {:mvn/version "7.034"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "notebooks" "env/dev/src"]
   :extra-deps {org.scicloj/clay {:mvn/version "2-beta23"}
                com.taoensso/timbre {:mvn/version "6.6.1"}
                com.fzakaria/slf4j-timbre {:mvn/version "0.4.1"}}}

  :neanderthal
  {:extra-deps {uncomplicate/neanderthal {:mvn/version "0.50.0"}
                         ;;  uncomplicate/clojurecl {:mvn/version "0.16.0"}
                         ;;  uncomplicate/commons {:mvn/version "0.15.1"}
                         ;;  org.jocl/jocl {:mvn/version "2.0.5"}
                org.bytedeco/mkl-platform-redist {:mvn/version "2024.0-1.5.10"}}
                         ;;  org.bytedeco/mkl$windows-x86_64-redist {:mvn/version "2024.0-1.5.10"}
                         ;;  org.bytedeco/mkl$linux-x86_64-redist {:mvn/version "2024.0-1.5.10"}
                         ;;  org.bytedeco/mkl$macosx-x86_64-redist {:mvn/version "2024.0-1.5.10"}
  
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"
              "-XX:+UseLargePages"
              "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
                   ;; "-Duncomplicate.clojurecl.platform-type=cpu"
                   ;; "-Duncomplicate.clojurecl.device-type=gpu"]}
  
  :bench
  {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}}}
